body {
  display: flex;
  flex-direction: column;
  align-self: center;
}

main {
  padding-top: 132px;
}

.title {
  text-align: center;
}

.title1 {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 6px;
}

.title2 {
  font-family: "Droid Serif", serif;
  color: #777777;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
}

.services {
  width: 941px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto 50px;
}

.service {
  width: 250px;
  min-height: 170px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.service-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  border: 3px solid #fedb6f;
}

.service-img {
}

.service h5 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #222222;
}

.service p {
  font-family: "MyriadPro Regular", serif;
  color: #777777;
  font-size: 14px;
  text-align: center;
}
