@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-align: center;
}
.title1 {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}

.title2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

nav {
  text-transform: uppercase;
  text-align: right;
}

nav li {
  list-style-type: none;
  display: inline;
  margin: 0px 30px;
  font-size: 14px;
  color: #95e1d3;
}

.service-body h5 {
  font-family: Montserrat-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 14px;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
  align-items: center;
  margin: 32px 0px 100px 0px;
}

.logo {
  margin-right: auto;
}
.start a {
  color: #95e1d3;
  text-decoration: none;
  padding-bottom: 10px;
}

.start a:hover,
.start .active {
  color: #f38181;
  border-bottom: 4px solid #f38181;
}
img.logo {
  width: 86px;
  height: 23px;
}

.divider {
  display: block;
  background-color: #f38181;
  height: 4px;
  width: 50px;
  margin: 30px auto;
}

footer {
  border-top: 1px solid #626262;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.team {
  display: flex;
}

.row {
  display: flex;
}

.service {
  display: flex;
  flex: 1;
  align-items: flex-start;
  align-content: space-between;
  align-items: center;
}

/* .service-img {
  display: flex;
} */

.service-body {
  /* display: flex; */
  flex: 1;
  padding: 10px;
  margin-left: 28px;
  margin-right: 70px;
  font-size: 15px;
  font-family: roboto-regular;
  width: 269px;
}

.person {
  margin-right: 30px;
  text-align: center;
}

.person-img {
  object-fit: cover;
  width: 381px;
  height: 471px;
}

.person h4 {
  text-transform: uppercase;
}

.team-desc {
  text-align: center;
  padding: 10px 80px 60px;
}

.team {
  margin-bottom: 85px;
}

.subscribe form {
  display: flex;
}

input[type="submit"] {
  background-color: #95e1d3;
  padding: 10px 40px;
  color: white;
  border: none;
  text-transform: uppercase;
  font-family: Montserrat-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 14px;
}

input[name="email"] {
  height: 33px;
  border: 1px solid #e7e7e7;
}

.copyright a {
  color: #f38181;
}
